{% extends 'layouts/layout.html' %}

{% block body %}



<div class="row justify-content-center">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-warning" role="alert">
                <p class="alert-link">{{message}}</p>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- in the POST method, its really important that method in the form it have to be ALWAWS at front, first that the action, than comes the action with the NAME OF THE FUNTION WHO HAVE THE URL -->
        <div class="card card-body border-0">
            <form method="POST" action="/addUser" >
                <div class="form-group pt-3">
                    <input type="text" name = "Age" placeholder="Age" class="form-control">
                </div>
                <div class="form-group pt-3">
                    <input type="text" name = "Name" placeholder="Name" class="form-control">
                </div>
                <div class="form-group pt-3">
                    <input type="text" name = "lastName" placeholder="Last Name" class="form-control">
                </div>
                <div class="form-group pt-3">
                    <input type="text" name = "Ocupation" placeholder="Ocupation" class="form-control">
                </div>
                <div class="form-group pt-3">
                    <button type="submit" class="btn btn-dark btn-block">Save</button>
                </div>
            </form>
        </div>        
    </div>
    <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-light" role="alert">
            <p>{{message}}</p>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %} -->
    <div class="col-md-6"> 
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr class="form-group pt-3">
                    <th>ID</th>
                    <th>Age</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Ocupation</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for userInformation in user_information %}
                <tr>
                    <td>{{ userInformation.0 }}</td>
                    <td>{{ userInformation.1 }}</td>
                    <td>{{ userInformation.2 }}</td>
                    <td>{{ userInformation.3 }}</td>
                    <td>{{ userInformation.4 }}</td>
                    <td>

                        <div class="d-flex gap-2">
                            <a href="/edit/{{userInformation.0}}" class="btn btn-outline-info btnEdit">Edit</a>
                            <a href="/tableDelete/{{userInformation.0}}" class="btn btn-outline-danger btnDelete">Delete</a>
                        </div>
                        <div>
                            <!-- <button class="btnEdit">Button Test</button> -->
                            <!-- <script src="{{url_for('static', filename='js/events.js')}}"></script> -->
                            <!-- <script src="{{url_for('static', filename='js/main.js')}}"></script>          -->
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
        

</div>    
    
{% endblock %}

